.CV {
  text-align: center;
  padding: 35vh;
  height: 100vh;
}
.CV a {
  font-family: var(--head-font);
  font-size: 150px;
  font-weight: 900;
  text-decoration: none;
  color: Black;
}
.CV h4 {
  font-family: var(--body-font);
  margin-top: 30px;
}
